.footer {
  min-width: 1100px;
  max-width: 1600px;
  left: 0;
  bottom: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px auto;
  background-color: var(--header-color-);
  color: white;
  border-radius: 25px 25px 0px 0px;
}

.footer__copyrights {
  max-width: 299px;
  font-size: 20px;
  line-height: 23px;
}
