.intro {
  background-color: var(--background-color-);
  box-sizing: border-box;
  display: flex;
  padding: 212px 82px;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.intro__headshot {
  max-width: 585px;
  height: 500px;
  width: 100%;
  border-radius: 50px;
  border: 4px solid var(--border-color-);
  background-color: var(--background-color-);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__photo {
  width: 120%;
  height: 100%;
}

.intro__info {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}

.intro__title {
  font-size: 100px;
  line-height: 117px;
  margin: 0 0 20px;
}

.intro__description {
  margin: 0 auto;
  font-size: 30px;
  line-height: 35px;
}

.intro__description-top {
  display: block;
  margin: 25px;
}

.intro__floating-bar {
  margin: 50px auto auto;
}
