.nav__links {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 50px;
  margin: 0;
  align-items: center;
}

.nav__link {
  text-decoration: none;
  color: white;
}

.nav___button {
  background: var(--button-color-);
  border-radius: 25.5px;
  border: 0;
  height: 50px;
  width: 50px;
  /* background-image: url("../images/light-mode-icon.svg");
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav___button_icon {
  width: 70%;
  height: 70%;
}
